*~
.DS_Store
._*
*.swp
*.bak
*.log*
*.dmp

*.dll
*.exe

*.adf
*.save_adf
*.hdf
*.ipf
*.nvr
*.uss

*.cache
/Configurations/*.cache
/Configurations/*.backup
/Configurations.*
/Documentation/
/Demos
/Games
/NVRAMs
/Quicksaves
/ROMs
/Screenshots
/System-*
/WinUAE/winuaebootlog.txt
/WinUAE/*.mod
/WinUAE.*
