*~
.DS_Store
._*
*.swp
*.bak
*.log

*.dll
*.exe

*.adf
*.save_adf
*.hdf
*.ipf
*.nvr
*.uss

/Configurations/*.cache
/Configurations/*.backup
/Configurations.*
/Games
/ROMs
/Screenshots
/System-*
/WinUAE/winuaebootlog.txt
/WinUAE.*

