{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

<div class="front-page">
  <div class="front-page-inner">

    <section class="md-typeset">
	  <h1>Welcome to RML Amiga</h1>

	  <figure>
        <p>
          <a class="glightbox" href="assets/images/16-bit-memories.jpg">
            <img alt="16-bit memories" class="skip-lightbox" src="assets/images/16-bit-memories.jpg">
          </a>
        </p>
        <figcaption>
          <p>16-bit memories by <a href="https://www.interstation3d.com/per_gal_generator.php?item=16-bit%20memories">Toni Bratincevic</a></p>
        </figcaption>
      </figure>

	  <a class="big-button" href="{{ page.next_page.url | url }}">Get started</a>

    </section>

  </div>
</div>

<!-- Tabs -->
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block container %}{% endblock %}

